@font-face {
    font-family: 'MagnisaSans';
    src: url('fonts/MagnisaSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-principal: #BC2E42;
    --color-principal-hover: #912736;
    --color-secundario: #F2F1ED;
    --color-texto: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'MagnisaSans', sans-serif;
    color: var(--color-principal);
    background-color: var(--color-secundario);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--color-principal);
    padding: 20px 0;
    border-bottom: 2px solid var(--color-secundario);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 10%;
}

.header-content .logo, .header-content .logo-name {
    cursor: pointer;
    font-size: 55px;
    color: var(--color-secundario);
}

.contact-link a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 25px;
}
.contact-link a:hover{
    background-color: var(--color-principal-hover);
    padding: 15px;
    transition: 0.5s;
}

nav {
    background-color: var(--color-principal);
    padding: 15px 0;
    border-top: 2px solid var(--color-secundario);
    border-bottom: 2px solid var(--color-secundario);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 25px;
}

nav ul li a:hover{
    background-color: var(--color-principal-hover);
    padding: 10px;
    transition: 0.25s;
}

main.index {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
main {
    flex-direction: column; /* Alinea los elementos en columna */
    display: block; /* Asegura que los hijos estén uno debajo del otro */
    text-align: left; /* Ajusta la alineación del texto */
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin: 20px auto;
    max-width: 90%;
}

#home h1 {
    font-size: 75px;
    color: var(--color-principal);
}

#home p {
    margin-top: 10px;
    font-size: 30px;
    color: var(--color-texto);
}

.otrotxt {
    margin-top: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#backToTopBtn:hover {
    background-color: var(--color-principal);
}

footer  {
    background-color: var(--color-principal);
    text-align: center;
    padding: 7px 0;
    margin-top: auto;
    width: 100%;
    border-top: 2px solid var(--color-secundario);
}

footer p {
    color: var(--color-secundario);
    font-size: 20px;
}

.copy {
    background-color: var(--color-principal);
    text-align: center;
    padding: 7px 0;
    margin-top: auto;
    width: 100%;
    border-bottom: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-size: 20px;
}

.centered-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 75px;
    color: var(--color-principal);
    line-height: 1;
}

.top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.symbol-image {
    width: 350px;
    height: auto;
    margin-left: 10px;
}

.symbol-image-head {
    width: 250px;
    height: auto;
    margin-left: 10px;
}

.bottom-line {
    font-size: 100px;
}

a.mail {
    color: var(--color-texto);
    text-decoration: none;
}

a.mail:hover {
    color: var(--color-principal);
}

a.mail:visited {
    color: var(--color-principal-hover);
}

a.mail:active {
    color: var(--color-principal-hover);
}

a.ig {
    color: var(--color-secundario);
    text-decoration: none;
}

a.ig:hover {
    color: var(--color-texto);
}

a.ig:visited {
    color: var(--color-secundario);
}

a.ig:active {
    color: var(--color-secundario);
}

.titulo, .texto {
    font-family: 'Consolas';
    color: var(--color-principal);
}

.titulo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px; /* Añade espacio debajo del título */
    display: block; /* Asegura que el título ocupe toda la línea */
    width: 100%; /* Asegura que no quede espacio a los lados */
}


.texto {
    font-size: 25px;
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin: 55px;
}

.social-icon {
    width: 100px; /* Ajusta el tamaño del icono */
    height: auto;
    margin: 0 15px; /* Añade espaciado entre los iconos */
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño cuando se pasa el mouse por encima */
}
@media screen and (max-width: 768px) {
    .header-content {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content .logo, .header-content .logo-name {
        font-size: 35px;
    }

    .contact-link a {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        margin: 20px;
        padding: 10px;
    }

    .centered-title {
        font-size: 50px;
    }

    .top-line {
        font-size: 60px;
    }

    .bottom-line {
        font-size: 60px;
    }

    .symbol-image {
        width: 150px;
    }

    .symbol-image-head {
        width: 100px;
    }

    #home p {
        font-size: 20px;
    }

    footer p {
        font-size: 16px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
